beautifulsoup4==4.13.3
bs4==0.0.2
fake-useragent==2.0.3
greenlet==3.1.1
narwhals==1.28.0
networkx==3.4.2
numpy==2.2.3
packaging==24.2
playwright==1.50.0
plotly==6.0.0
pyee==12.1.1
soupsieve==2.6
typing_extensions==4.12.2
